:root {
    --main--color--black: #000000;
    --main--color--low: #e5f1fd;
    --main--color--strong: #8294A6;
    --second--color-strong: #C4C4C4;
    --second--color-low: #8294A64F;
    

}

body {
    background-color: var(--main--color--low);
    font-family: 'Segoe UI', sans-serif;
}

header {
    text-align: center;
    margin-top: 10rem;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 55vh;
}

.container {
    max-width: 350px;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
}

.form-control {
    background-color:var(--main--color--low); 
    border-radius: 1rem;
    padding: 0.75rem;
    border: 1px solid #ced4da;

}
/* Cuando el input está enfocado */
.form-control:focus {
    background-color: var(--second--color-low) !important;
    border-color: var(--color--strong);
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: var(--second--color-strong);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    
}
.btn-primary:enabled{
    background-color: var(--second--color-strong);

}
.btn-primary:hover {
    background-color: var(--main--color--strong);
}

.btn-secondary {
    background-color: var(--second--color-low);
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    color: black
}

.btn-secondary:hover {
    background-color: var(--main--color--strong); 
}


input::placeholder {
    /* color: blue; */
    opacity: 1;
}  
a {
    color: var(--main--color--strong);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    text-decoration: underline;
}

.text-end {
    text-align: center !important;
}

.eye-icon {
    position: absolute;
    right: 1rem;
    top: 2.8rem;
    cursor: pointer;
}

.position-relative {
    position: relative;
}
