<!-- Sección de gráficas -->
<div id="seccion-graficas" class="seccion-graficas">
    <div><h2 class="text-center">Gráficas</h2></div>
    <div class="text-center mb-3">
        <button id="btn-semana" class="btn btn-primary me-2">Última<br>semana</button>
        <button id="btn-mes" class="btn btn-secondary">Último<br>mes</button>
    </div>
    <div class="grid grafica" id="grafica">
        <div class="tab-pane active" id="u-semana">
            <h2 class="text-center">Última semana</h2>
            <canvas id="graficaSemana" height="300px"></canvas>
            <div id="imgSemanaVacia" class="text-center d-none">
                <img src="/img/sharki/triste.png" alt="Sin registros" style="max-width: 300px;">
                <p>No hay registros para mostrar la gráfica.</p>
            </div>
        </div>
        <div class="tab-pane d-none" id="u-mes">
            <h2 class="text-center">Último mes</h2>
            <canvas id="graficaMes"></canvas>
            <div id="imgMesVacia" class="text-center d-none">
                <img src="/img/sharki/triste.png" alt="Sin registros" style="max-width: 300px;">
                <p>No hay registros para mostrar la gráfica.</p>
            </div>
        </div>
    </div>
</div>

<!-- Sección de calendario -->
<div id="seccion-calendario" class="seccion-calendario d-none">
    <div class="grid calendario">
        <div class="text-center">
            <h2>Calendario</h2>
            <p id="tituloMes" class="mb-3"></p>
            <div id="calendarioHabito" class="calendario-grid mx-auto"></div>
        </div>
    </div>
</div>
