<button id="focusReset" class="sr-only" tabindex="-1" aria-hidden="true"></button>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title d-flex align-items-center gap-2" id="infoModalLabel">
                    <i id="infoModalIcon" class="fas fa-info-circle text-info"></i>
                    <span id="infoModalTitle">Información</span>
                </h5>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button> -->
            </div>
            <div class="modal-body" id="infoModalBody">
                <!-- Mensaje -->
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="closeInfoModal()">Cerrar</button>

            </div>
        </div>
    </div>
</div>