@forward 'mixins';
@forward 'variables';
@use 'variables' as v;
// @forward 'normalize';

html {
    box-sizing: border-box;
    // font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

.container_logo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    font-family: v.$title;
}

p,
a {
    text-decoration: none;
    font-family: v.$text;
}

body {
    background-color: v.$backgroundColor;
}

footer {
    margin-top: 2rem;
}

.separator {
    background: linear-gradient(90deg, v.$mainColor-strong 0%, v.$colorSecondaryBtn 100%);
    border-radius: 16px 16px 0 0;
    margin: 1rem 0;
    width: 100%; 
    height: 4px;
}

.top-bar {
    text-align: center;
    // display: flex;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* columnas: izquierda - centro - derecha */
    align-items: center;
    height: 104px;

    h1 {
        flex-grow: 1;
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
}

.back-arrow {
    font-size: 1.3rem;
    text-decoration: none !important;
    color: v.$black;
    margin-right: 2rem;
    font-style: normal;
    cursor: pointer;

    &:hover {
        color: v.$mainColor-strong;
        transform: scale(1.1);
    }
}

.btn-primary {
    background-color: v.$colorPrimariBtn;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    color: v.$white;
    font-weight: 500;
    // border: solid 2px v.$mainColor-strong;
    &:hover {
        // color: v.$black;
        // transform: scale(1.02);
        background-color: v.$mainColor-low;
    }
    &:focus {
        background-color: v.$mainColor-low;
    }
}

.btn-secondary {
    background-color: v.$secondaryColor;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    color: v.$colorPrimariBtn;

    &:hover {
        transform: scale(1.02);
        background-color: v.$secondaryColor-strong;
    }

    &:focus {
        background-color: v.$secondaryColor-strong;
        border: none;
    }
}

.btn-tertiary {
    background-color: transparent;
    border: outset 2px v.$mainColor-strong;
    border-radius: 20px 20px 50px 50px; 
    padding: 0.1rem;
    color: v.$white;

    &:hover {
        transform: scale(1.1);
        background-color: v.$secondaryColor-strong;;
        color: v.$secondaryColor;
    }

    &:focus {
        background-color: v.$secondaryColor-strong;
        border: none;
    }
}

.btn-cancel {
    background-color: v.$gray-low;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    color: v.$black;
    font-weight: 500;
    // border: solid 2px gray;
    &:hover {
        color: v.$black;
        transform: scale(1.02);
        background-color: v.$gray
    }
    &:active
    {
        background-color: v.$gray;
    }
    &:focus {
        background-color: v.$gray;
    }
}

.just-validate-error-label {
    font-size: small;
    color: v.$secondaryColor-strong !important;
    margin-top: 0.5rem;
}

.just-validate-error-field {
    display: block;
}
.title{
    padding-top: 0.5rem;
}