//Colors
$white: #f8f9fa;
$gray-low: #e9ecef;
$gray: #adb5bd;
$black: #1f2421;

$mainColor: #e5f1fd;
$mainColor-strong: #8294A6;
$mainColor-low: #D0DAE6;
$secondaryColor: #C4C4C4;
$secondaryColor-strong: #8294A64F;

//Fonts
$title: "Red Hat Display", serif;
$text: "Segoe UI", serif;
$special: "Handlee", cursive;

//Media querys
$phone: 468px;
$tablet: 768px;
$tablet-desktop:900px;
$desktop: 1080px;
$desktop-max: 1200px;

$separacion: 4rem;