@use 'base/variables' as v;
@use 'base/mixins' as m;


body {
    background-color: v.$mainColor;
}
.btn-primary {
    background-color: v.$mainColor-strong;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
}

.btn-primary:hover {
    background-color: v.$secondaryColor;
}

.btn-secondary {
    background-color: v.$mainColor-strong;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
}

.btn-secondary:hover {
    background-color:v.$secondaryColor; 
}

.form-check-label{
    font-family: v.$text;
    font-size: 12px;
}