@use 'base/variables' as v;
@use 'base/mixins' as m;

.emocion-container{
  background: transparent;
  color: black;
  border-radius: 20px;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px v.$mainColor-low;
  text-align: center;
  max-width: 100%;
  width: 100%;    
  box-sizing: border-box;
}
.emotion-option {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
    cursor: pointer;
  }
  
  .emotion-icon {
    font-size: 2.5rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .emotion-label {
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
  }
  
  .btn-save {
    margin-top: 2rem;
    background-color: v.$secondaryColor;
    color: v.$white;
  }



  .emotion-option .emotion-icon.selected{
  border: 4px solid;
  border: v.$mainColor-low;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px #1e62afe0; 
  transition: all 0.3s ease;
  transform: scale(1.1);
}

  //calendario de emociones

  .calendario-container {
    background: v.$white;
    color: black;
    border-radius: 20px;
    padding: 1rem 2rem;
    box-shadow: 0 0 15px #0003;
    text-align: center;
    max-width: 100%;
    width: 100%;    
    box-sizing: border-box;
  }
  
  .grid-calendario {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    gap: 10px;
    margin-top: 1rem;
    width: 100%;
  }
  
  .dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 0.9rem;
    min-height: 60px; 
  }
  .dia:hover {
    background-color: v.$mainColor-low; 
    cursor: pointer;
  }

  .dia.con-emocion {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .dia-vacio {
    visibility: hidden;
  }
  
  .sin-emocion {
    color: #aaa;
  }
  
  .emoji {
    font-size: 1.2rem;
    min-height: 1.5rem; 
    display: block;
  }
  
  .numero-dia {
    margin-top: 4px;
  }

  .mes-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 1rem;
  }
  
  .btn-prev-mes,
  .btn-next-mes {
    font-size: 4.5rem;
    color: v.$mainColor-low; 
    padding: 0.5rem 1rem;
    border: none;
    background-color: transparent;
  }
  
  .nombreMes{
    margin-top: 10%;
    font-size: 1.2rem;
    text-align: center;
    }

  
  .dia-hoy {
    background-color: v.$secondaryColor;
    font-weight: bold;
    box-shadow: 0 0 5px v.$mainColor-low;
    transition: all 0.3s ease;
  }
  
