@use 'base/variables' as v;
@use 'base/mixins' as m;

ul {
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: disc;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

ul li ul {
    list-style-type: circle;
}

ul li ul li {
    font-size: 15px;
}

.container-md {
    display: flex;             
    justify-content: center;    
    align-items: center;        
    margin-top: 28px;          
    gap: 10px;             
}


.btn-primary, .btn-secondary {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}


.contenedor-scroll {
  background-color: v.$white; 
  border: none;
  border-radius: 12px;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.196);
  position: relative; // Necesario para la línea azul
}


//FLECHAS DESPLEGABLES DE CONTENIDO 
.indice-item {
  width: 100%;   
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;  
  margin-bottom: 12px;
  background: v.$white;
  font-weight: 600;
  color: v.$mainColor-strong;
  box-shadow: v.$white;
}
.indice-item > i {
  color: v.$colorSecondaryBtn;
}



.icono-circulo {
  inline-size: 32px;    
  block-size: 32px;      
  display: inline-flex;      
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: v.$colorPrimariBtn;
  color: v.$colorSecondaryBtn;
  font-size: 16px;
}

.guia {
  background: v.$white;
  margin: 8px 0 20px 0;
  border-radius: 6px;
  color: v.$black;
}

.d-none {
  display: none;
}


.contenedor-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, v.$mainColor-strong 0%, v.$colorSecondaryBtn 100%);
  border-radius: 16px 16px 0 0;
}
