@use 'base/variables' as v;
@use 'base/mixins' as m;

.form-habito{
    color: v.$black;
    .form-label{
        margin: 1rem 0 1rem 0;
        font-weight: 600;
    }
    .days-week{
        justify-content: center;
    }
}