@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    text-align: center;
    margin-top: 2rem;
    img {
        max-width: 140px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bold;
    }
}

.container {
    max-width: 350px;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
}

.container-md {
    max-width: 400px;
}

.form-label{
    color: v.$text-primary-color;
}

#formLogin .form-control {
    background-color: rgba(217, 217, 217, 0.33); // 0.33 representa el 33% de opacidad;
    border-radius: 1rem;
    padding: 0.75rem;
    border: 1px solid #D9D9D9;

}
/* Cuando el input está enfocado */
.form-control:focus {
    background-color: v.$secondaryColor !important;
    border-color: v.$secondaryColor;
    box-shadow: none;
    outline: none;
}

#formLogin input::placeholder {
    color: v.$text-primary-color; // Cambia el color del placeholder al color principal fuerte
    opacity: 1;
}  
a {
    text-decoration: none;
    font-weight: 500;
}

.text-end a , .text-end span{
    color: v.$text-primary-color; // Cambia el color del enlace al color principal fuerte
}

a:hover {
    text-decoration: underline;
}

.text-end {
    text-align: center !important;
}

.eye-icon {
    position: absolute;
    right: 0.5rem;
    width: 1.3rem;
}
