@use 'base/variables' as v;
@use 'base/mixins' as m;

header {
    text-align: center;
}

main {
    color: v.$black;
    align-items: center;
    width: 100%;

    h2 {
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 500;
    }
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-y: auto;
    padding: 2rem 1rem;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }
}

.login-card {
    position: relative;
    z-index: 2;
    background-color: v.$white;
    padding: 1.5rem;
    border-radius: 0.7rem;
    width: 90%;
    max-width: 290px;
    box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);

    h1 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1.2rem;
        font-weight: bold;
        color: v.$mainColor-low;
    }
}

.log-reg {
    max-width: 330px;
}

.reg-btn {
    width: 100%;
    margin: 0.4rem 0;
}

.form-reg {
    width: 100%;
}

.btn-outline-primary {
    background-color: v.$secondaryColor;
    border:none;
}

.btn-outline-primary:disabled{
    background-color: v.$gray;
    color: v.$black;
    cursor:default;
}

.input-correo {
    max-width: 400px;
    margin: 0 auto;   
}
    .reg-input {
    max-width: 262px; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    label {
        text-align: left;
        width: 100%;
    } 

    .form-control {
        width: 100%;
    }

    .just-validate-error-label {
        text-align: left;
        color: #dc3545;
    }
}

.btnCodigo {
    margin: 1rem 0;
    font-size: 1rem;
    transform: translateY(0);
    transition: opacity 0.4s ease, transform 0.4s ease;
    border-radius: 0.5rem;
    pointer-events: auto;
    background-color: v.$mainColor-low;
    cursor: pointer;
    color: v.$white;
}

.container {
    max-width: 350px;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
}

.form-control {
    background-color: v.$white;
    border-radius: 0.5rem;
    padding: 0.75rem;
    border: 1px solid v.$secondaryColor;
    color: v.$black;

    &:focus {
        border-color: v.$secondaryColor;
        outline: none;
        // color: v.$mainColor-low;
    }
}

.link {
    font-style: italic;
    text-decoration: underline;
    color: v.$black;
    font-size: small;
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        color: v.$mainColor-strong;
    }
}

.text-end {
    text-align: center !important;
}

.shark-random {
    position: absolute;
    width: 80px;
    z-index: -1;
    /* Asegura que el tiburón esté debajo de los elementos del formulario */
    transition: top 2s linear, left 2s linear, transform 0.5s ease-in-out;
}

.registroBtn {
    margin-top: 1rem;
}

input.check {
    accent-color: v.$mainColor-low; // el color que quieras cuando esté marcado
}

.input-with-eye-container {
    position: relative;
    width: 100%;
    display: flex;
    // align-items: center; // Asegura que el ícono y el input estén alineados verticalmente
    justify-content: space-between;
    flex-direction: column;

    i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #6c757d;
        /* gris Bootstrap */
        font-size: 1rem;
        // z-index: 2;
    }

    input {
        padding-right: 2.5rem;
        /* espacio para que no tape el ícono */
    }
}



.input-with-eye-container-max {
    max-height: 60px;
    margin-bottom: 25px;
}

//input contraseña

.password-conter {
    position: relative;
    width: 100%;
    margin-bottom: 5px;
    background-color: v.$white !important;
    border-radius: 0.5rem;
    color: v.$black !important;
}
.password-conter input {
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 16px;
    accent-color: v.$mainColor-low !important;
}
.password-conter i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6c757d;
    font-size: 1rem;
}
.error-message {
    color: #2582eb;
    font-size: 13px;
    display: none;
}