@use 'base/variables' as v;
@use 'base/mixins' as m;

.container {
    max-width: 350px;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
}

h2 {
    font-family: v.$text;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
}

.form-control {
    background-color: v.$gray-low;
    border-radius: 1rem;
    padding: 0.75rem;
    border: 1px solid #ced4da;

}

/* Cuando el input está enfocado */
.form-control:focus {
    background-color: v.$secondaryColor !important;
    border-color: v.$secondaryColor;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    background-color: v.$mainColor-strong;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
    &:hover{
        background-color: v.$secondaryColor;    
    }
    &:focus{
        background-color: v.$mainColor-strong;
        border: none;
    }
}
.btn-secondary {
    background-color: v.$mainColor-strong;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
}

.btn-secondary:hover {
    background-color: v.$mainColor-strong;
}

input::placeholder {
    // color: blue;
    opacity: 1;
}

a {
    color: var(--main--color--strong);
    text-decoration: none;
    font-weight: 500;
    ::placeholder {
    text-decoration: underline;
    }
}
.text-end {
    text-align: center !important;
}


.position-relative {
    position: relative;
}

.calendar-day {
    text-align: center;
    font-size: 0.75rem;
}

.calendar-dot {
    width: 24px;
    height: 24px;
    background-color: var(--second--color-low);
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5px;
}

.calendar-dot.active {
    background-color: var(--main--color--strong);
    border: 2px solid var(--main--color--black);
}

.icon-bar span {
    font-size: 1.5rem;
    cursor: pointer;
}

.habit-card {
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
}

.btn-create {
    background-color: var(--second--color-strong);
    border-radius: 20px;
    padding: 6px 14px;
    border: none;
}

.btn-create:hover {
    background-color: var(--main--color--strong);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background-color: #d6e4f0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1052;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    transform: translateX(-100%);
}

.sidebar.active {
    transform: translateX(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1050;
    display: none;
}

.overlay.active {
    display: block;
}

.top-bar-inicio {
    background-color: v.$mainColor-strong;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
  }
  .top-bar-inicio .icons i {
    margin-left: 10px;
    font-size: 1.2rem;
  }
  .time-buttons{
    text-align: center;
  }
  .time-buttons .btn {
    margin: 0 0.25rem;
    margin-bottom: 0.25rem;
  }
  .create-button {
    text-align: center;
  }
  .habitos_titulo{
    padding-top: 1rem;
  }
  .btn-dark {
    background-color: v.$black;
    border: none;
    border-radius: 1rem;
    padding: 0.75rem;
}