@use 'base/variables' as v;
@use 'base/mixins' as m;


body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container_inicio {
    padding: 0.3rem;

    h1 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
}

#unread-count {
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50%;
}

.vertical-divider {
    width: 2px;
    border: outset 1px v.$mainColor-strong;
    align-self: stretch;
    background-color: v.$mainColor-strong;
}

.day_number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .fecha {
        font-size: 1rem;
        font-weight: bold;
    }

    .fecha_num {
        border-radius: 20px 50px 20px 50px;
        margin-top: 0.25rem;
        padding: 0.3rem 0.75rem;
        color: v.$white;
        background-color: v.$mainColor-strong;
        // border-radius: 1rem;
    }
}

.state {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding-left: 6rem;

    p {
        margin: 0;
        font-weight: 500;
    }

    .emoji {
        font-size: 1.5rem;
    }
}

.day_state {
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;

}

.text-end {
    text-align: center !important;
}

.calendar-day {
    text-align: center;
    font-size: 0.75rem;
}

.calendar-dot {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 5px;
}

.iconos-btn-logout {
    background-color: red;
    inline-size: 32px;
    block-size: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: v.$white;
    font-size: 15px;

}

.calendar-dot.active {
    border: 2px solid v.$black;
}

.icon-bar span {
    font-size: 1.5rem;
    cursor: pointer;
}

.btn-create {
    border-radius: 20px;
    padding: 6px 14px;
    border: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 300px;
    height: 100vh;
    background-color: v.$white;
    z-index: 1052;
    transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-content-bottom {
    // margin-top: 10rem    ;
    display: grid;
    gap: 0.5rem;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid v.$mainColor-strong;
    }

    .username {
        margin-top: 10px;
        font-size: 1.2rem;
        color: v.$mainColor-strong;
    }
}

.menu-btn {
    position: relative;
    background-color: v.$white;
    color: v.$black;
    border: none;
    width: 100%;
    padding: 0.75rem 1rem;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;

    i {
        font-size: 1.2rem;
        width: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &:hover {
        color: v.$secondaryColor-strong;
        // background-color: v.$mainColor-strong;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1050;
    display: none;
}

.overlay.active {
    display: block;
}

.top-bar-inicio {
    // background-color: v.$mainColor-low;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

.icons {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    i {
        transition: transform 0.2s ease;
    }
}

.iconos {
    background-color: v.$white;
    box-shadow: 0 0 1px v.$black;
    border-radius: 0.2rem;
    padding: 0.5rem;
    // margin-left: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    i {
        display: inline-block;
        position: relative;
        transition: transform 0.2s ease;
    }

    &:hover i {
        transform: scale(1.1);
    }
}
.gif{
    border-radius: 0.2rem;
    cursor: pointer;
    box-shadow: 0 0 1px v.$black;
    background-color: v.$white;
}

.nombreUsuario{
    color: v.$mainColor-strong;
}
.top-bar-menu {
    background-color: v.$secondaryColor;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid v.$secondaryColor-strong;

    .icons i {
        margin-left: 10px;
        font-size: 1.2rem;
    }
}

.logout-btn {
    position: relative;
    width: 100%;
    background-color: transparent;
    border: none;
    margin-top: 0.75rem;

    &:hover {
        color: darken(red, 10%);
    }

    i {
        font-size: 1.2rem;
        width: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.time-buttons {
    text-align: center;

    .btn {
        margin: 0 0.25rem;
        margin-bottom: 0.25rem;
    }
}

.habits_section{
    text-align: center;
    p{
        text-align: center;
        padding: 0 1rem;
    }
}

.habitos_titulo {
    text-align: center;
    color: v.$black;
    padding-top: 1rem;

    // padding-bottom: 1rem;
    h2 {
        font-weight: 700;
    }
}

.habit-toggle {
    background-color: v.$white;
    border: outset 2px v.$mainColor-strong;
    border-radius: 9999px;
    display: inline-flex;
    // padding: 2px;
    margin: 1rem auto;
    position: relative;
    justify-content: space-between;
    gap: 22px;

    .habit-tab {
        background-color: v.$white;
        position: relative;
        // background-color: transparent;
        border: none;
        padding: 0.5rem 1.2rem;
        border-radius: 9999px;
        font-weight: 600;
        color: v.$mainColor-strong; // gris medio
        transition: all 0.3s ease;
        cursor: pointer;
        z-index: 1;

        &:hover {
            background-color: v.$mainColor-low;
            color: v.$colorSecondaryBtn;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }

        &:active {
            background-color: v.$mainColor-low;
            color: v.$secondaryColor-strong;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        }

        .badge {
            background-color: v.$mainColor-strong;
            color: white;
            border-radius: 9999px;
            padding: 2px 6px;
            font-size: 0.65rem;
            margin-left: 6px;
        }
    }
}

.habit-icon {
    width: 40px;
    height: 40px;
    margin-right: 14px;
    flex-shrink: 0;
}

.habit-card {
    width: 100%;
    max-width: 95%;
    height: 70px;
    min-height: 60px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: v.$white;
    border-radius: 15px;
    color: v.$black;
    position: relative;
    transition: box-shadow 0.3s;

    span {
        font-size: 0.8rem;
    }
}

.habit-value-badge {
    text-align: center;
    background-color: v.$white;
    padding: 4px;
    border-radius: 6px;
    font-weight: 600;
    margin-right: 0px;
    // font-size: 0.8rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
    margin-left: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: v.$gray;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: v.$mainColor-strong; // verde (puedes usar $mainColor)
}

input:checked+.slider:before {
    transform: translateX(12px);
}

.habit-info {
    max-width: 65%;
    word-break: break-word;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
    padding-bottom: env(safe-area-inset-bottom);
}

.bottom-nav button {
    background: none;
    border: none;
    text-align: center;
    font-size: 12px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:active {
        transform: scale(1.1);
    }
}

.bottom-nav button i {
    font-size: 20px;
    margin-bottom: 4px;
}

.bottom-nav button:focus {
    outline: none;
}

.container-md {
    padding-bottom: 80px;
    /* Espacio para que el contenido no se oculte detrás del menú */
}

.grafica-container {
    margin: 0;
    /* Asegura que no tenga espacio extra */
    padding: 0;
    width: 80px;
    height: 80px;
    position: relative;

    canvas {
        display: block;
    }
}

.grafica-layout {
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    /* Para pantallas pequeñas */
    margin-top: 1rem;
}

.grafica-porcentaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-weight: 600;
    font-size: 0.7rem;
    color: v.$black;
    pointer-events: none;
}

.leyenda-grafica {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    font-size: 0.75rem;

    .item {
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }

    .cuadro-color {
        width: 15px;
        height: 15px;
        margin-right: 8px;
        border-radius: 3px;
    }
}