@use 'base/variables' as v;
@use 'base/mixins' as m;

.notif-card {
    border-radius: 10px;
    color: v.$black;
    position: relative;
    transition: box-shadow 0.3s;
    cursor: pointer;
    width: 100%;
}

@keyframes fadeInSlide {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notification-item {
    font-size: 0.8rem;
    margin: 5px;
    padding: 0.3rem;
    box-shadow: 0 0 3px v.$mainColor-low;
    animation: fadeInSlide 0.5s ease-out both;

    p {
        font-size: 0.7rem;
    }
}

.seccion-de-notificaciones {
    max-height: 60vh;
    overflow-y: auto;
    padding-right: 0.5rem;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        // border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: v.$mainColor-low;
        border-radius: 10px;
        border: 2px solid v.$white; // borde visible alrededor del thumb
    }

    scrollbar-width: thin;
    scrollbar-color: v.$mainColor-low transparent;
}

.notification-item.read {
    transition: background-color 10s;
}

.text-muted {
    text-align: center;
    margin: 0 1rem;
    border-radius: 1rem;
    background-color: v.$mainColor-low;
    color: v.$mainColor-strong !important;
    box-shadow: 0 0 2px v.$mainColor-strong;
}

.notification-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid v.$mainColor-low;
}

.center-image {
    display: block;
    margin: 0.5rem auto 1rem;
    max-width: 80px;
    background-color: white;
    border-radius: 42rem;
    padding: 0.1rem;
}

.actualizarHorarios {
    align-items: center;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.form-label {
    // color: v.$mainColor-strong;
}

.infoHoraNoti h5 {
    margin: 1rem 0;
    font-weight: normal;
    font-size: 1rem;
    text-align: justify;
}

/* Cambiar el color del borde y el fondo */
.select2-container--default .select2-selection--single {
    border: 2px solid v.$mainColor-low;
    background-color: v.$white;
    border-radius: 10px;
    height: 40px;
}

/* Cambiar el color de la opción seleccionada */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: v.$black;
}

/* Cambiar el color y el tamaño de la flecha */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    border-color: v.$black;
    color: v.$black;
    background-color: v.$mainColor-low;
}

/* Modificar la lista de opciones cuando se abre el select */
.select2-results__option {
    font-size: 1rem;
    padding: 10px;
    border-radius: 0.5rem;
}

.select2-results__option[aria-selected="true"] {
    background-color: v.$mainColor-strong !important;
    color: white;
}

/* Eliminar borde y contorno en el campo de búsqueda de Select2 */
.select2-search__field {
    border: 1px solid #ccc !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0.5rem;
}

/* Si quieres un borde más delgado cuando se enfoca el campo de búsqueda */
.select2-search__field:focus {
    border: 1px solid v.$mainColor-low !important;
}

.select2-dropdown {
    border: 1px solid v.$mainColor-low !important;
    border-radius: 1rem;
    border-radius: 0.5rem;
}
.select2-container--default .select2-selection--single {
    background-color: v.$white !important;
    border: 1px solid v.$mainColor-low !important;
    border-radius: 4px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("data:image/svg+xml,%3Csvg fill='black' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;  
}

