@use 'base/variables' as v;
@use 'base/mixins' as m;


.streak-container {
  max-width: 400px;
  width: 100%;
  animation: fadeIn 1s ease-in; //anima al tiburon para q crezca en cuanto se entre a la pnatalla
}
.streak{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.imagen-animada {
  width: 240px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  animation: popIn 1s ease forwards;
  transform: scale(0.5);
  opacity: 0;
}

.streak-number {
  font-size: 64px;
  margin: 10px 0;
  transition: all 0.5s ease;
  font-family: v.$special;
}

.streak-label {
  font-size: 20px;
  color: v.$colorPrimariBtn;
  font-weight: bold;
  font-family: v.$special;
}

.message-box {
  border: outset v.$mainColor-strong;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  font-size: 18px;
  color: v.$black;
  font-family: v.$text;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .streak-number { font-size: 48px; }
  .shark-img { width: 140px; }
}

.streak-container {
      text-align: center;
    }

    .imagen-animada {
      max-width: 150px;
      margin: 0 auto 20px;
    }

    .streak-number {
      font-size: 64px;
      font-weight: bold;
    }

    .streak-label {
      font-size: 20px;
      margin-bottom: 15px;
    }

    .days-row {
      display: flex;
      justify-content: center;
      gap: 12px;
      margin-top: 20px;
    }

    .day-box {
      background-color: #f0f0f0;
      border-radius: 10px;
      width: 42px;
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #555;
      font-size: 14px;
      font-weight: bold;
    }

    .day-box.checked {
      background-color: #fb9715;
      color: #000;
    }

    .day-box.checked i {
      font-size: 18px;
      margin-top: 4px;
    }

    .message-box {
      margin-top: 20px;
      font-size: 16px;
    }