<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('partials/allStyles') %>
  <title>Bienvenidx</title>
</head>

<body>
  <div class="container-md">
    <div class="top-bar d-flex align-items-center">
      <h1 class="fw-bold mb-0">¡Ya eres parte de Fin It! </h1>
    </div>

    <div class="swiper">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="card-item">
            <img src="/img/sharki/feliz.png" alt="User Image" class="user-image">
            <h2 class="welcome-text">Definir Hábitos</h2>
            <p class="user-profession">Podrás crear hábitos de alguna de las categorías que hay en Fin It.</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-item">
            <img src="/img/sharki/curioso.png" alt="User Image" class="user-image">
            <h2 class="welcome-text">Define tu meta</h2>
            <p class="user-profession">Listos para establecer tus objetivos e ir de la mano contigo.</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-item">
            <div class="wel-habits d-flex justify-content-center align-items-center flex-wrap">
              <img src="/img/sharki/corriendo.png" class="wel-img" alt="Movimiento Corporal">
              <img src="/img/sharki/musica.png" class="wel-img" alt="Salud mental">
              <img src="/img/sharki/durmiendo.png" class="wel-img" alt="Bienestar">
            </div>
            <h2 class="welcome-text">Hábitos</h2>
            <p class="user-profession">Correr, escuchar música, horas de sueño; son algunos de los hábitos que puedes establecer</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-item">
            <img src="/img/preferencias/tiburegistrando.png" alt="User Image" class="user-image">
            <h2 class="welcome-text">Progreso</h2>
            <p class="user-profession">Podrás registrar el progreso de tus hábitos para visualizar tus avances.</p>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="card-item">
            <img src="/img/preferencias/tibuemocion.png" alt="User Image" class="user-image">
            <h2 class="welcome-text">Emociones</h2>
            <p class="user-profession">Podrás contarnos cómo te sientes cada día.</p>
          </div>
        </div>
      </div>
      

      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev sw-navPrev"></div>
      <div class="swiper-button-next sw-navNex"></div>
    </div>
    <div class="text-center mt-4">
      <button id="continuarBtn" class="continuarBtn btn-primary" onclick="window.location.href='/inicio'">
        Continuar
      </button>
    </div>
  </div>

  <!-- Scripts -->
    
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/flashMessage.js"></script>
  <script src="/js/bienvenida.js"></script>
</body>
</html>
