<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Cambiar Contraseña - Fin It</title>
  <link rel="manifest" href="/manifest.json">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet" />
  <link href="/bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/styles.css" rel="stylesheet" />
</head>

<body>
  <div class="login-wrapper">

      <div class="login-box w-100">
        <h1>FIN IT</h1>

        <div class="wrapp">
          <header class="text-center mb-4">
            <div class="container_logo">
            </div>
          </header>
          <main>
            <form id="formCodigo" autocomplete="off">

              <!-- Contraseña nueva -->
              <div class="mb-3">
                <label for="nuevaContrasena" class="form-label">Contraseña nueva:</label>
                <div class="d-block position-relative input-with-eye-container-max">
                  <input type="password" class="form-control" id="nuevaContrasena" name="nuevaContrasena" placeholder="Ingresa tu contraseña"/>
                  <i class="fa-solid fa-eye" id="togglePassword3" style="cursor: pointer; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
                
              </div>
            
              <!-- Confirmar nueva -->
              <div class="mb-3">
                <label for="confirmarContrasena" class="form-label">Confirmar nueva:</label>
                <div class="d-block position-relative input-with-eye-container">
                  <input type="password" class="form-control pe-2" id="confirmarContrasena" name="confirmarContrasena" placeholder="Confirma tu contraseña"/>
                  <i class="fa-solid fa-eye" id="togglePassword4" style="cursor: pointer; position: absolute; top: 50%; right: 10px; transform: translateY(-50%);"></i>
                </div>
              </div>


              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Confirmar</button>
                <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancelar</button>
              </div>
            </form>
          </main>
        </div>
      </div>
  </div>

  <!-- Scripts -->
  <script src="/bootstrap-5.0.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  <script src="/js/cambiocontrasena.js"></script>
</body>

</html>

