<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestionar Estiramientos Matutinos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
</head>
<body class="form_habitos">
    <div class="container py-4">
        <div class="top-bar">
            <a href="javascript:history.back()" class="back-arrow">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h1 class="mx-auto">Estiramientos Matutinos</h1>
        </div>
        <div class="tab-content mt-4 texto-alternativo">
            <% habitName = 'Estiramientos Matutinos' %>
            <% habitUrl = 'Estiramientos'; %>
            <% iconPath = '/img/gestorhabitos/estiramiento.png' %>
            <%- include('partials/habitForm', { habit, habitName }) %>
        </div>
    </div>
    <%- include('partials/allScripts') %>
    <script src="/js/validarGestionarHabitos.js"></script>
    <%- include('partials/habitScript', { habitName, iconPath, habitUrl }) %>
</body>
</html>
