<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestionar Mis Hábitos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
</head>

<body>
    <div class="container-md">
        <header>
            <div class="top-bar"> 
                <a href="/inicio" class="back-arrow">
                    <i class="fas fa-chevron-left"></i>
                </a>
                <h1 class="fw-bold">Gestionar Mis Hábitos</h1>
            </div>
        </header>
        <div class="separator"></div>
        <main>
            <div>
                <div id="habitsContainer" class="habitsGestion"></div>
                <div class="text-center">
                    <button class="btn btn-primary" onclick="location.href='/gestionarHabitos';">Agregar un nuevo hábito</button>
                </div>
            </div>  
        </main>
    </div>
    <%- include('partials/navBar')%>
    <script src="/js/gestionarMisHabitos.js"></script>
</body>

</html>