<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Hidratación</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
        <script src="/js/progreso.js"></script>
</head>

<body>

<div class="fondo-animado">
    <div id="contenedor-burbujas"></div>
    <div class="container-md">

        <%- include('partials/habitInfo', {
            habit: habit,
            iconPath: '/img/gestorhabitos/hidratacion.png', 
            editPath: '/gestionarhidratacion' 
        }) %>

    </div>
</div>
    <%- include('partials/editHabitScript') %>
</body>

</html>