<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ingresar Código - Fin It</title>
    <%- include('partials/allStyles') %>
</head>

<body>
      <div class="container-md mt-5">
        <h1 class="text-center text-dark mb-3 fw-bold">FIN IT</h1>

        <div class="wrapp">
          <main>
            <h2 class="text-center mb-4">Ingresar Código</h2>
            <form id="formCodigo" autocomplete="off">
              <div class="mb-3 reg-input">
                <label for="codigo" class="form-label mb-3">Código de verificación:
                  <%- include('partials/helpButton', { mensaje: 'El codigo de verificación tiene una duración de 10 minutos !Tomalo con calma¡', tipo: 'warning'}) %>
                </label>
                <input type="text" class="form-control" id="codigo" placeholder="######" maxlength="6" inputmode="numeric"/>
                <div id="codigoError" class="just-validate-error-label mt-1" style="display: none;"></div>
              </div>

              <div class="d-grid gap-2 reg-input">
                <button type="submit" class="btn btn-primary">Continuar</button>
              </div>
            </form>

            <div class="text-end mt-3">
              <p class="mt-3 mb-3">¿No recibiste el código?</p>
              <button type="button" class="btn btn-secondary" id="btnReenviarCodigo">Reenviar código</button>
            </div>
          </main>
        </div>
  </div>

<%- include('partials/modalInfo') %>
  <!-- Scripts -->
    <%- include('partials/allScripts') %>
  <script src="/js/ingresarcodigo.js"></script>
</body>
</html>
