<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recuperar Contraseña - Fin It</title>
    <%- include('partials/allStyles') %>
</head>

<body>
      <div class="container-md mt-5">
        <h1 class="text-center text-dark mb-3 fw-bold">FIN IT</h1>

        <div class="wrapp">

            <h2 class="text-center mb-4">Recuperar Contraseña</h2>
            <form id="formContrasena" autocomplete="off">
              <div class="mb-3 reg-input">
                <label for="correo" class="form-label">Ingresa tu correo:
                  <%- include('partials/helpButton', { mensaje: 'Debes ingresar un <strong>correo electrónico</strong> que haya sido registrado en la app previamente.', tipo: 'warning'}) %>
                </label>
                <input type="email" class="form-control  input-correo" id="correo" name="correo" placeholder="tucorreo@gmail.com" />
              </div>

        <p class="small text-end">
          Te enviaremos un código a tu correo.
        </p>


        <div class="d-flex justify-content-center gap-2 mt-3">
          <button type="submit" class="btn-primary w-auto" id="solicitarcodigo">Solicitar código</button>
          <button type="button" class="btn-secondary w-auto" onclick="history.back()">Cancelar</button>
        </div>
            </form>

            <p class="text-end mt-3">
              ¿Recordaste tu contraseña? <a class="link" href="/registro">Registrarse</a>
            </p>
        </div>
      </div>
<%- include('partials/modalInfo') %>
  <!-- Scripts -->
    <%- include('partials/allScripts') %>
  <script src="/js/olvidarcontrasena.js"></script>
</body>

</html>
