<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Quiénes Somos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar"> 
            <a href="/inicio" class="back-arrow">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h1 class="fw-bold">¿Quiénes somos?</h1>
        </div>

        <div class="feature-card fade-in">
            <h3>
                <div class="icon">
                    <img src="/img/tibInfo.png" alt="DevSharks">
                </div>
                    DevSharks Team
            </h3>
            <p>En <strong>DevSharks</strong>, somos un equipo de desarrolladores apasionados por la tecnología y la innovación. Hemos creado <strong>Fin It</strong>, una aplicación web diseñada para ayudarte a <strong>registrar y gestionar tus hábitos</strong> de manera sencilla y eficiente, con el objetivo de mejorar tu bienestar físico, mental y emocional.</p>
        </div>

        <div class="feature-card fade-in">
            <h3>
                <div class="icon">
                    <img src="/img/tibInfo.png" alt="DevSharks">
                </div>
                    Nuestra Misión
            </h3>
            <p>Como equipo de <strong>DevSharks</strong>, creemos en el poder de los hábitos saludables y cómo estos pueden transformar vidas. Nuestra misión es proporcionar una herramienta accesible y fácil de usar que permita a los usuarios llevar un seguimiento de sus rutinas diarias, establecer metas personales y alcanzar sus objetivos de bienestar.</p>
        </div>

        <div class="feature-card fade-in">
            <h3>
                <div class="icon">
                    <img src="/img/tibInfo.png" alt="DevSharks">
                </div>
                Tu Privacidad es Importante
            </h3>
            <p>Además, valoramos tu privacidad y nos comprometemos a proteger tu información personal. Nunca compartimos tus datos sin tu consentimiento, y siempre trabajamos para ofrecerte la mejor experiencia posible mientras usas nuestra aplicación.</p>
        </div>

        <div class="feature-card-cierre fade-in">
            <p>Gracias por elegirnos y confiar en nosotros para acompañarte en tu camino hacia una vida más saludable y equilibrada.</p>
        </div>
    </div>
</body>
</html>
