<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Racha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/allStyles') %>
</head>

<body>
    <div class="container py-4">

        <div class="top-bar">
            <a onclick="location.href='/inicio';" class="back-arrow">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h4 class="fw-bold">Días de Racha</h4>
        </div>

        <div class="streak-container">
            <img src="/img/animacion.gif" alt="animación" class="imagen-animada" id="shark">

            <div class="streak-number" id="streakDays">0</div>
            <div class="streak-label">¡Días cumpliendo tus hábitos!</div>

            <div class="message-box" id="message">
                Cargando...
            </div>
        </div>
    </div>
    <script src="/js/racha.js"></script>
</body>

</html>