<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Privacidad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="../bootstrap-5.0.2/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container py-4">
        <div class="top-bar"> 
            <a href="javascript:history.back()" class="back-arrow">
                <i class="fas fa-chevron-left"></i>
            </a>
            <h1 class="fw-bold">Uso de Fin It</h1>
        </div>
        <div class="separator mb-3"></div>

        <p>Antes de eliminar tu cuenta, te recomendamos consultar los siguientes artículos de nuestro servicio de ayuda.<br><br>
            <a href="/guiadeUsuario" class="guiadeusuario">Consejos para empezar</a>
        </p>
    </div>
</body>
</html>