@charset "UTF-8";
body, html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
  height: auto;
}

.container_logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3 {
  font-family: "Segoe UI", serif;
}

p,
a {
  text-decoration: none;
  font-family: "Segoe UI", serif;
}

body {
  background-color: #ebfcff;
}

footer {
  margin-top: 2rem;
}

.separator {
  background: #1e62af;
  border-radius: 16px 16px 0 0;
  margin: 1rem 0;
  width: 100%;
  height: 4px;
}

.top-bar {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* columnas: izquierda - centro - derecha */
  align-items: center;
  height: 104px;
}
.top-bar h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

.back-arrow {
  font-size: 1.3rem;
  text-decoration: none !important;
  color: #1f2421;
  margin-right: 2rem;
  font-style: normal;
  cursor: pointer;
}
.back-arrow:hover {
  color: #1e62af;
  transform: scale(1.1);
}

.btn-primary, .btn-days {
  background-color: #60a9fa;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
}
.btn-primary:hover, .btn-days:hover {
  background-color: #1e62af;
}
.btn-primary:focus, .btn-days:focus {
  background-color: #1e62af;
}

.btn-days {
  border: solid 2px #1e62af;
  padding: 0.3rem;
}

.btn-check:checked + .btn-days {
  background-color: #1e62af;
  color: #ffffff;
}

.btn-secondary {
  background-color: #173454;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  color: #ffffff;
}
.btn-secondary:hover {
  transform: scale(1.02);
  background-color: #1e62af;
}
.btn-secondary:focus {
  background-color: #1e62af;
  border: none;
}

.btn-tertiary {
  background-color: transparent;
  border: outset 2px #1e62af;
  border-radius: 20px 20px 50px 50px;
  padding: 0.1rem;
  color: #ffffff;
}
.btn-tertiary:hover {
  transform: scale(1.1);
  background-color: #2582eb;
  color: #bfddfe;
}
.btn-tertiary:focus {
  background-color: #2582eb;
  border: none;
}

.btn-cancel {
  background-color: #e9ecef;
  border: none;
  border-radius: 1rem;
  padding: 0.75rem;
  color: #1f2421;
  font-weight: 500;
}
.btn-cancel:hover {
  color: #1f2421;
  transform: scale(1.02);
  background-color: #adb5bd;
}
.btn-cancel:active {
  background-color: #adb5bd;
}
.btn-cancel:focus {
  background-color: #adb5bd;
}

.just-validate-error-label {
  font-size: small;
  color: #2582eb !important;
  margin-top: 0.5rem;
}

.title {
  padding-top: 0.5rem;
}

header {
  text-align: center;
}

main {
  color: #1f2421;
  align-items: center;
  width: 100%;
}
main h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 2rem 1rem;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.login-card {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0.7rem;
  width: 90%;
  max-width: 290px;
  box-shadow: 10px 4px 20px rgba(0, 0, 0, 0.1);
}
.login-card h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: bold;
  color: #93c5fd;
}

.log-reg {
  max-width: 330px;
}

.reg-btn {
  width: 100%;
  margin: 0.4rem 0;
}

.form-reg {
  width: 100%;
}

.btn-outline-primary {
  background-color: #bfddfe;
  border: none;
}

.btnCodigo {
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  border-radius: 0.5rem;
}

.btnCodigo.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.container {
  max-width: 350px;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
}

.form-control {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: 1px solid #bfddfe;
  color: #1f2421;
}
.form-control:focus {
  border-color: #bfddfe;
  outline: none;
}

.link {
  font-style: italic;
  text-decoration: underline;
  color: #1f2421;
  font-size: small;
  font-weight: 500;
}
.link:hover {
  text-decoration: underline;
  color: #1e62af;
}

.text-end {
  text-align: center !important;
}

.shark-random {
  position: absolute;
  width: 80px;
  z-index: -1;
  /* Asegura que el tiburón esté debajo de los elementos del formulario */
  transition: top 2s linear, left 2s linear, transform 0.5s ease-in-out;
}

.registroBtn {
  margin-top: 1rem;
}

input.check {
  accent-color: #93c5fd;
}

.input-with-eye-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.input-with-eye-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  /* gris Bootstrap */
  font-size: 1rem;
}
.input-with-eye-container input {
  padding-right: 2.5rem;
  /* espacio para que no tape el ícono */
}

.input-with-eye-container-max {
  max-height: 60px;
  margin-bottom: 25px;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container_inicio {
  padding: 0.3rem;
}
.container_inicio h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

#unread-count {
  font-size: 12px;
  padding: 3px 7px;
  border-radius: 50%;
}

.vertical-divider {
  width: 2px;
  border: outset 1px #1e62af;
  align-self: stretch;
  background-color: #1e62af;
}

.day_number {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.day_number .fecha {
  font-size: 1rem;
  font-weight: bold;
}
.day_number .fecha_num {
  border-radius: 20px 50px 20px 50px;
  margin-top: 0.25rem;
  padding: 0.3rem 0.75rem;
  color: #ffffff;
  background-color: #1e62af;
}

.state {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-left: 6rem;
}
.state p {
  margin: 0;
  font-weight: 500;
}
.state .emoji {
  font-size: 1.5rem;
}

.day_state {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
}

.text-end {
  text-align: center !important;
}

.calendar-day {
  text-align: center;
  font-size: 0.75rem;
}

.calendar-dot {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5px;
}

.iconos-btn-logout {
  background-color: red;
  inline-size: 32px;
  block-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  font-size: 15px;
}

.calendar-dot.active {
  border: 2px solid #1f2421;
}

.icon-bar span {
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-create {
  border-radius: 20px;
  padding: 6px 14px;
  border: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  max-width: 300px;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1052;
  transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1);
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar-content-bottom {
  display: grid;
  gap: 0.5rem;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-section .profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1e62af;
}
.profile-section .username {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #1e62af;
}

.menu-btn {
  position: relative;
  background-color: #ffffff;
  color: #1f2421;
  border: none;
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.menu-btn i {
  font-size: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn:hover {
  color: #2582eb;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1050;
  display: none;
}

.overlay.active {
  display: block;
}

.top-bar-inicio {
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
}

.icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.iconos {
  background-color: #ffffff;
  box-shadow: 0 0 1px #1f2421;
  border-radius: 0.2rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.iconos i {
  display: inline-block;
  position: relative;
  transition: transform 0.2s ease;
}
.iconos:hover i {
  transform: scale(1.1);
}

.top-bar-menu {
  background-color: #bfddfe;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #2582eb;
}
.top-bar-menu .icons i {
  margin-left: 10px;
  font-size: 1.2rem;
}

.logout-btn {
  position: relative;
  width: 100%;
  background-color: transparent;
  border: none;
  margin-top: 0.75rem;
}
.logout-btn:hover {
  color: #cc0000;
}
.logout-btn i {
  font-size: 1.2rem;
  width: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-buttons {
  text-align: center;
}
.time-buttons .btn {
  margin: 0 0.25rem;
  margin-bottom: 0.25rem;
}

.habits_section {
  text-align: center;
}
.habits_section p {
  text-align: center;
  padding: 0 4rem;
}

.habitos_titulo {
  text-align: center;
  color: #1f2421;
  padding-top: 1rem;
}
.habitos_titulo h2 {
  font-weight: 700;
}

.habit-toggle {
  background-color: #ffffff;
  border: outset 2px #1e62af;
  border-radius: 9999px;
  display: inline-flex;
  margin: 1rem auto;
  position: relative;
  justify-content: space-between;
  gap: 22px;
}
.habit-toggle .habit-tab {
  background-color: #ffffff;
  position: relative;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 9999px;
  font-weight: 600;
  color: #1e62af;
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 1;
}
.habit-toggle .habit-tab:hover {
  background-color: #93c5fd;
  color: #173454;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.habit-toggle .habit-tab:active {
  background-color: #93c5fd;
  color: #2582eb;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
.habit-toggle .habit-tab .badge {
  background-color: #1e62af;
  color: white;
  border-radius: 9999px;
  padding: 2px 6px;
  font-size: 0.65rem;
  margin-left: 6px;
}

.habit-icon {
  width: 40px;
  height: 40px;
  margin-right: 14px;
  flex-shrink: 0;
}

.habit-card {
  width: 100%;
  max-width: 95%;
  height: 70px;
  min-height: 60px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 15px;
  color: #1f2421;
  position: relative;
  transition: box-shadow 0.3s;
}
.habit-card span {
  font-size: 0.8rem;
}

.habit-value-badge {
  text-align: center;
  background-color: #ffffff;
  padding: 6px;
  border-radius: 10px;
  font-weight: 600;
  margin-right: 0px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
  margin-left: 10px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #adb5bd;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #1e62af;
}

input:checked + .slider:before {
  transform: translateX(12px);
}

.habit-info {
  max-width: 65%;
  word-break: break-word;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  padding-bottom: env(safe-area-inset-bottom);
}

.bottom-nav button {
  background: none;
  border: none;
  text-align: center;
  font-size: 12px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bottom-nav button:active {
  transform: scale(1.1);
}

.bottom-nav button i {
  font-size: 20px;
  margin-bottom: 4px;
}

.bottom-nav button:focus {
  outline: none;
}

.container-md {
  padding-bottom: 80px;
  /* Espacio para que el contenido no se oculte detrás del menú */
}

.grafica-container {
  margin: 0;
  /* Asegura que no tenga espacio extra */
  padding: 0;
  width: 80px;
  height: 80px;
  position: relative;
}
.grafica-container canvas {
  display: block;
}

.grafica-layout {
  display: flex;
  align-items: center;
  /* Centra verticalmente */
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  /* Para pantallas pequeñas */
  margin-top: 1rem;
}

.grafica-porcentaje {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-weight: 600;
  font-size: 0.7rem;
  color: #1f2421;
  pointer-events: none;
}

.leyenda-grafica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 1rem;
  font-size: 0.75rem;
}
.leyenda-grafica .item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.leyenda-grafica .cuadro-color {
  width: 15px;
  height: 15px;
  margin-right: 8px;
  border-radius: 3px;
}

.container p {
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#habitos-container {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.habitos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centra el contenido */
  gap: 1rem;
  /* Espacio entre las opciones */
}
.habitos img {
  width: 50%;
}

.habitsGestion {
  color: #1f2421;
}

.fade-in {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInMoveUp 0.4s ease forwards;
}

@keyframes fadeInMoveUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card_gestionar {
  background-color: #bfddfe;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  flex-grow: 1;
  font-size: 0.8rem;
}

.nameHabit {
  padding-right: 0.5rem;
}

.grid_habitos {
  background-color: transparent !important;
  display: flex;
  flex-direction: row;
}

.option {
  border: 0.2rem solid #bfddfe;
  background-color: #bfddfe;
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.option:hover {
  background-color: #93c5fd;
  cursor: pointer;
}
.option:active {
  background-color: #93c5fd;
  cursor: pointer;
}

.caja {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.plus-button {
  position: relative;
  /* ya no hace falta absoluto */
  background-color: transparent;
  border: 2px solid #1f2421;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
.plus-button:active {
  background-color: #1e62af;
  color: white;
  border-color: #93c5fd;
}
.plus-button:hover {
  border-color: #1e62af;
  color: #93c5fd;
}

.option-1 {
  flex: 0.9;
  padding: 13px;
  border-radius: 10px;
  border: 1px solid #bfddfe;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: default;
}

.option-1 img {
  width: 40px;
  height: 40px;
}

.option,
.option-1 span {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  /* O lo que combine con tu fondo */
}

.main-content {
  margin-top: 80px;
}

.btn_personalizados {
  padding-top: 3rem;
}

.ir_Alhabito {
  padding-left: 10rem;
  background-color: #93c5fd;
}

/* Esto lo puedes colocar en tu archivo CSS global */
.swal-fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw;
  margin: 0 !important;
  padding: 0rem !important;
  border-radius: 0 !important;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
}

@keyframes popupFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-popup {
  animation: popupFadeIn 300ms ease forwards;
}

.no-scroll {
  height: 100% !important;
  position: fixed !important;
  width: 100% !important;
  touch-action: none !important;
}
.no-scroll .swal2-container {
  overflow: hidden !important;
}

body.no-scroll.swal2-no-backdrop.swal2-shown,
.swal2-container.swal2-center.swal2-backdrop-show {
  background-color: #ffffff !important;
}

.dia.completado {
  background-color: #93c5fd;
  color: white;
  border-radius: 50%;
}

.page_preferencias {
  padding: 0;
  display: flex;
  justify-content: center;
}

.pref_text {
  align-items: center;
  padding: 1rem;
  width: 100vw;
  text-align: center;
}

.container_pr {
  width: 100%;
  background-color: transparent;
}
.container_pr p {
  padding: 1rem;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Segoe UI", serif;
  padding-top: 1.5rem;
}
.container_pr h1 {
  padding-top: 1rem;
  font-family: "Segoe UI", serif;
  color: #1f2421;
  text-align: center;
}
.container_pr .omitir {
  text-align: right;
  padding-right: 3rem;
}
.container_pr .omitir a {
  color: #173454;
  font-size: 20px;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.container_pr .omitir a:hover {
  color: #93c5fd;
}

.grid_pref {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.1rem;
  margin: 10px 10px 16px 10px;
  border-radius: 20px;
  box-shadow: 0 0 7px #2582eb;
}

.optionpr {
  background-color: #ffffff;
  color: #173454;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s cubic-bezier(0.4, 0, 1, 1);
  border: 2px solid rgb(237.9905405405, 239.65, 241.3094594595);
}
.optionpr img {
  margin-bottom: 1rem;
  width: 40px;
  height: 40px;
  object-fit: contain;
}
.optionpr span {
  font-family: "Handlee", cursive;
}
.optionpr:hover {
  transform: scale(1.03);
}

.selected {
  transform: scale(1.05);
  background-color: #bfddfe;
  box-shadow: 0 0 0 2px #93c5fd;
}

.counter {
  font-size: 1rem;
  margin-bottom: 12px;
}

.page_preferencias .button {
  background-color: #60a9fa;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
}
.page_preferencias .button:disabled {
  cursor: not-allowed;
  background-color: #adb5bd;
  color: #ffffff;
}
.page_preferencias .button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.grid-opciones {
  display: grid;
  grid-auto-flow: column;
  background-color: #2582eb;
  border-radius: 10rem;
}

.titulo-habito {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* columnas: izquierda - centro - derecha */
  justify-content: center;
  align-items: center;
  text-align: center;
}
.titulo-habito .imagen-titulo {
  display: flex;
}
.titulo-habito h1 {
  font-size: 2rem;
}
.titulo-habito img {
  width: 50px;
  height: auto;
}
.titulo-habito .contenido-texto {
  flex: 1;
  padding: 0 15px;
}

.titulo-info {
  display: flex;
  align-items: center;
  text-align: center;
}

.text-advertencia {
  text-size-adjust: small;
  display: none;
  color: rgb(252, 83, 83);
}

.tab-content {
  background-color: #ebfcff;
  margin-top: 0 !important;
}
.tab-content .tab-pane {
  padding: 1rem;
  display: block;
}
.tab-content .tab-pane .active {
  display: none;
}
.tab-content .d-none {
  display: none !important;
}

.btn_gestion {
  display: flex;
  /*flex-direction: row;*/
  align-items: center;
  justify-content: center;
  margin: 1rem;
  gap: 1.5rem;
}

.progreso,
.informacion {
  margin: 2rem 0 2rem 0;
  border: 1px solid #1e62af;
  border-radius: 1rem;
  text-align: center;
}
.progreso img,
.informacion img {
  width: 4rem;
  height: auto;
}

.input-fecha {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.input-fecha .calendario {
  max-width: 200px;
  flex-shrink: 0;
}
.input-fecha .fecha-formateada {
  font-weight: 500;
  color: black;
  background-color: #93c5fd;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
}

.pikaday {
  background-color: #ebfcff;
  border: 1px solid #1e62af;
  font-family: inherit;
}
.pikaday .pika-day.selected,
.pikaday .pika-day:hover {
  background-color: #1e62af;
  color: white;
}
.pikaday .pika-month,
.pikaday .pika-weekdays {
  background-color: #93c5fd;
  color: black;
}
.pikaday .pika-weekday {
  font-weight: 600;
}
.pikaday .pika-day.today {
  border-color: #1e62af;
}

.dias_notificaciones {
  background: none;
  color: #1f2421;
  border: none;
  cursor: pointer;
}
.dias_notificaciones i {
  font-size: 24px;
  color: gray;
  transition: color 0.3s ease;
}
.dias_notificaciones.selected i {
  color: #bfddfe;
}

.btn-dias {
  background-color: #93c5fd;
  border: 2px solid #1f2421;
  border-radius: 0.5rem;
  padding: 0.18rem;
  margin: 0.1rem;
  font-weight: 500;
  color: #1f2421;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.btn-dias.selected {
  background-color: #1e62af;
  color: #ffffff;
  border-color: #1e62af;
}
.btn-dias:hover:not(.selected) {
  background-color: #bfddfe;
}

.resProgresobtn {
  padding: 1rem;
}

.btn-progreso {
  margin: 0.3rem;
}

.texto-principal {
  color: #1f2421 !important;
}

.texto-alternativo {
  color: #1f2421 !important;
}

.grupo-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 1rem;
}

.iconos-habitos {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 2rem;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 5px;
  justify-content: center;
  max-width: 100%;
}

.dia-habito {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: white;
}

.dia-cumplido {
  background-color: green;
}

.dia-incumplido {
  background-color: red;
}

.dia-vacio {
  background: none;
  visibility: hidden;
}

.clickable-subrayado {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: #000;
}

.clickable-subrayado::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #1f2421;
  animation: fadeUnderline 1.5s ease-in-out infinite;
  border-radius: 1px;
  opacity: 0;
}

@keyframes fadeUnderline {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.option-semana-mes {
  border: 0.2rem solid #009394;
  background-color: #009394;
  padding: 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover: cambia de color al pasar el cursor */
.option-semana-mes:hover {
  background-color: #e0e0e0;
  /* Color de fondo al pasar el mouse */
  color: #333;
}

/* Activa: muestra cuál está seleccionada */
.option-semana-mes.active {
  background-color: #007bff;
  /* Color principal para opción activa */
  color: white;
}

.btn-graficas i,
.btn-calendario i {
  font-size: 1.2rem;
}

.grafica h2 {
  font-size: 1.5rem;
}

.fondo-animado {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* Permite crecer si hay más contenido */
  overflow-x: hidden;
  /* Solo oculta el scroll horizontal */
}

@keyframes animarFondo {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Burbujas */
.burbuja {
  position: absolute;
  bottom: 0; /* en lugar de bottom: 0 */
  border-radius: 50%;
  background: #1e62af;
  animation: subirBurbuja 8s linear infinite; /* cambia el nombre para claridad */
  z-index: 1;
}

@keyframes subirBurbuja {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) scale(1.2);
    opacity: 0;
  }
}
@keyframes caerBurbuja {
  0% {
    transform: translateY(0) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) scale(1.2); /* ahora cae */
    opacity: 0;
  }
}
.recuadro {
  position: relative;
  margin-top: 2rem;
  border-radius: 1rem;
  border: 1px solid #1e62af;
  padding: 1.5rem;
  background-color: #ebfcff;
  z-index: 2;
}

.typing {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-outline-primary-mine {
  background-color: #93c5fd;
  border-radius: 0.4rem;
  padding: 0.3rem;
  margin: 0.7rem;
  font-weight: 1rem;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
}
.btn-outline-primary-mine.selected {
  background-color: #1e62af;
  color: #ffffff;
  border-color: #1e62af;
}
.btn-outline-primary-mine:hover:not(.selected) {
  background-color: #bfddfe;
}

.calendario-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  max-width: 350px;
}

.dia {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 6px;
  background-color: #f0f0f0; /* fondo por defecto */
  transition: background-color 0.3s ease;
}

.dia-completado {
  background-color: #4caf50 !important;
  color: white;
  font-weight: bold;
}

.botones-eliminar {
  text-align: center;
}

.texto-eliminar {
  font-family: "Segoe UI", serif;
  color: #1f2421;
}

.form-check-label {
  font-family: "Segoe UI", serif;
  font-size: 12px;
}

.form-check a:hover {
  text-decoration: underline;
  color: #0056b3; /* Cambia el color al pasar el mouse */
}

.form-check a {
  color: #1f2421; /* Color del enlace */
  text-decoration: underline; /* Sin subrayado */
}

.contraseña-eliminar {
  font-family: "Segoe UI", serif;
  color: #1f2421;
}

.feature-card-cierre {
  background: white;
  padding: 25px;
  margin-bottom: 15px;
  position: relative;
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.emocion-container {
  background: transparent;
  color: black;
  border-radius: 20px;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px #93c5fd;
  text-align: center;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.emotion-option {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  width: fit-content;
}

.emotion-icon {
  font-size: 2.5rem;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s, box-shadow 0.2s;
}

.emotion-label {
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
}

.btn-save {
  margin-top: 2rem;
  background-color: #bfddfe;
  color: #ffffff;
}

.btn-save, .btn-secondary:focus {
  outline: none;
  box-shadow: none;
}

.emotion-option .emotion-icon.selected {
  border: 4px solid;
  border: #93c5fd;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(30, 98, 175, 0.8784313725);
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.calendario-container {
  background: #ffffff;
  color: black;
  border-radius: 20px;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.grid-calendario {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
  margin-top: 1rem;
  width: 100%;
}

.dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 0.9rem;
  min-height: 60px;
}

.dia:hover {
  background-color: #93c5fd;
  cursor: pointer;
}

.dia.con-emocion {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dia-vacio {
  visibility: hidden;
}

.sin-emocion {
  color: #aaa;
}

.emoji {
  font-size: 1.2rem;
  min-height: 1.5rem;
  display: block;
}

.numero-dia {
  margin-top: 4px;
}

.mes-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.btn-prev-mes,
.btn-next-mes {
  font-size: 4.5rem;
  color: #93c5fd;
  padding: 0.5rem 1rem;
  border: none;
  background-color: transparent;
}

.nombreMes {
  margin-top: 10%;
  font-size: 1.2rem;
  text-align: center;
}

.dia-hoy {
  background-color: #bfddfe;
  font-weight: bold;
  box-shadow: 0 0 5px #93c5fd;
  transition: all 0.3s ease;
}

.progress-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.progress-indicator .step {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1e62af;
  color: #1f2421;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 0 5px;
}
.progress-indicator .step.active {
  background-color: #1f2421;
  color: #fff;
}
.progress-indicator .arrow {
  color: #1e62af;
  font-size: 20px;
}

.section-title {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #93c5fd;
  padding-bottom: 15px;
  margin-top: 0;
}

.habits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}
.habits-grid .habit-item {
  padding: 10px;
  border: 1px solid #93c5fd;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.habits-grid .habit-item:hover {
  background-color: white;
}
.habits-grid .habit-item .habit-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}
.habits-grid .habit-item .habit-icon {
  margin-bottom: 5px;
}
.habits-grid .habit-item .habit-icon img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 40px;
}
.habits-grid .habit-item .habit-label {
  font-size: 12px;
}

.guiadeusuario {
  color: rgb(11, 32, 255);
}

ul {
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: disc;
}

ul li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

ul li ul {
  list-style-type: circle;
}

ul li ul li {
  font-size: 15px;
}

.btn-primary, .btn-secondary {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
}

.contenedor-scroll {
  background-color: #ffffff;
  border: none;
  border-radius: 12px;
  padding: 16px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.196);
  position: relative;
}

.indice-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 18px;
  margin-bottom: 12px;
  background: #ffffff;
  font-weight: 600;
  color: #1e62af;
  box-shadow: #ffffff;
}

.indice-item > i {
  color: #173454;
}

.icono-circulo {
  inline-size: 32px;
  block-size: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #60a9fa;
  color: #173454;
  font-size: 16px;
}

.guia {
  background: #ffffff;
  margin: 8px 0 20px 0;
  border-radius: 6px;
  color: #1f2421;
}

.d-none {
  display: none;
}

.contenedor-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, #1e62af 0%, #173454 100%);
  border-radius: 16px 16px 0 0;
}

h1.actualizar {
  font-family: "Segoe UI", serif;
  color: #1f2421;
}

.perfil-foto-container {
  position: relative;
  display: inline-block;
}

.perfil-foto {
  width: 150px; /* ajusta según tu diseño */
  height: 150px;
  border-radius: 50%;
  margin-top: 1rem;
  object-fit: cover;
  box-shadow: 0 0 4px 2px #1e62af; /* azul suave difuminado */
}

.icono-camara {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: white;
  border-radius: 50%;
  padding: 5px 9px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.2s ease;
  font-size: 14px;
  border: 1px solid #60a9fa;
}

.icono-camara:hover {
  background-color: #e0e0e0;
}

.perfil {
  color: #1f2421;
}

.nombreColor {
  color: #1e62af !important;
  font-weight: bold;
}

.icon-right {
  margin-left: auto; /* Empuja el ícono al extremo derecho */
}

.botones-actualizar {
  margin-top: 1rem;
}

.text-muted-perfil {
  text-align: center;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: #93c5fd;
  color: #1e62af !important;
  box-shadow: 0 0 2px #1e62af;
}

.icono-editar-perfil {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: #ffffff;
  border: 1px solid #60a9fa;
  border-radius: 50%;
  padding: 5px 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.icono-editar-perfil i {
  color: #1f2421;
}

.form-habito {
  color: #1f2421;
}
.form-habito .form-label {
  margin: 1rem 0 1rem 0;
  font-weight: 600;
}

.days-week {
  gap: 0.2rem;
  justify-content: center;
}

.pika-single {
  z-index: 9999 !important;
  position: absolute !important;
}

.pika-single .pika-table td.is-selected {
  background-color: #93c5fd !important; /* Naranja */
  color: #fff !important;
  border-radius: 1rem;
}

.pika-single .pika-table td.is-today {
  color: #93c5fd !important; /* Naranja oscuro */
  font-weight: bold;
  border-radius: 1rem;
}

.pika-single .pika-table td:hover:not(.is-selected) {
  background-color: #1e62af !important;
  border-radius: 1rem;
}

.form_habitos,
.container,
.tab-content {
  overflow: visible !important;
  position: relative;
}

.form-control:focus {
  background-color: #ffffff;
  border-color: #1e62af;
  box-shadow: 0 0 0 0.2rem rgba(147, 197, 253, 0.25);
}

.rs-outer,
.rs-border {
  border-color: #21bfd7;
}

.rs-bg-color {
  background-color: #ebfcff;
}

.rs-range-color {
  background-color: rgba(33, 191, 215, 0.5019607843) !important;
  /* color del rango seleccionado */
  border-color: rgba(33, 192, 215, 0.5019607843) !important;
}

.rs-path-color {
  background-color: #fff !important;
}

.rs-handle {
  background-color: #93c5fd !important;
  border: 2px solid #1e62af !important;
}

.rs-tooltip {
  font-weight: bolder;
  color: #000;
  background: transparent;
  /* opcional: transparente si quieres manejarlo tú */
  border: none;
  font-size: 18px;
}

#linearSlider {
  -webkit-appearance: none;
  width: 180px; /* ajusta el ancho según lo necesites */
  height: 10px;
  background: #e0f7fa; /* color base celeste clarito */
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  position: relative;
}

/* Pista del slider */
#linearSlider::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #00c2d7, #8ed1f4);
}

#linearSlider::-moz-range-track {
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(90deg, #00c2d7, #8ed1f4);
}

/* Pulgar del slider */
#linearSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #00c2d7; /* color borde como el circular */
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  transition: background 0.3s, border 0.3s;
  position: relative;
  margin-top: -5px; /* centra el pulgar */
}

#linearSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffffff;
  border: 3px solid #00c2d7;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

/* Indicador de valor */
#linearSliderValue {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
  color: #00c2d7; /* celeste intenso como en la imagen */
  font-size: 1.1em;
}

/* Contenedor general del roundSlider */
#circularSlider .rs-range-color {
  background: linear-gradient(90deg, #00c2d7, #8ed1f4); /* gradiente similar al lineal */
}

#circularSlider .rs-path-color {
  background: #e0f7fa; /* color base celeste clarito */
}

#circularSlider .rs-handle {
  background: #ffffff; /* pulgar blanco */
  border: 3px solid #00c2d7; /* borde celeste intenso */
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); /* sombra sutil */
}

/* Texto del tooltip */
#circularSlider .rs-tooltip-text {
  color: #00c2d7;
  font-weight: bold;
  font-size: 1.1em;
}

.sliderContent {
  width: 70%;
}

#goal-input-group {
  gap: 1rem;
}

.sliderValueD {
  color: white;
  margin-left: 0.5rem;
  background: #60a9fa;
  margin-right: -7px;
  border-radius: 0.5rem;
}

.btn-outline-info {
  background-color: #ebfcff;
  margin-left: 0.5rem;
  padding: 0 !important;
  border: none !important;
}
.btn-outline-info:hover {
  background-color: transparent !important;
  color: #1e62af !important;
}

.goal-input {
  width: 75%;
}

.camapanaNotis {
  font-size: 1.5rem;
}

.btn-dated {
  color: #60a9fa !important;
}
.btn-dated:focus {
  color: #1e62af !important;
  box-shadow: none;
}

.selectedDate {
  margin-left: 2rem;
}

.streak-container {
  max-width: 400px;
  width: 100%;
  animation: fadeIn 1s ease-in;
}

.streak {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.imagen-animada {
  width: 240px;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  animation: popIn 1s ease forwards;
  transform: scale(0.5);
  opacity: 0;
}

.streak-number {
  font-size: 64px;
  margin: 10px 0;
  transition: all 0.5s ease;
  font-family: "Handlee", cursive;
}

.streak-label {
  font-size: 20px;
  color: #60a9fa;
  font-weight: bold;
  font-family: "Handlee", cursive;
}

.message-box {
  border: outset #1e62af;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  font-size: 18px;
  color: #1f2421;
  font-family: "Segoe UI", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .streak-number {
    font-size: 48px;
  }
  .shark-img {
    width: 140px;
  }
}
.streak-container {
  text-align: center;
}

.imagen-animada {
  max-width: 150px;
  margin: 0 auto 20px;
}

.streak-number {
  font-size: 64px;
  font-weight: bold;
}

.streak-label {
  font-size: 20px;
  margin-bottom: 15px;
}

.days-row {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.day-box {
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 42px;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 14px;
  font-weight: bold;
}

.day-box.checked {
  background-color: #fb9715;
  color: #000;
}

.day-box.checked i {
  font-size: 18px;
  margin-top: 4px;
}

.message-box {
  margin-top: 20px;
  font-size: 16px;
}

.notif-card {
  border-radius: 10px;
  color: #1f2421;
  position: relative;
  transition: box-shadow 0.3s;
  cursor: pointer;
  width: 100%;
}

@keyframes fadeInSlide {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.notification-item {
  font-size: 0.8rem;
  margin: 5px;
  padding: 0.3rem;
  box-shadow: 0 0 3px #93c5fd;
  animation: fadeInSlide 0.5s ease-out both;
}
.notification-item p {
  font-size: 0.7rem;
}

.seccion-de-notificaciones {
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #93c5fd transparent;
}
.seccion-de-notificaciones::-webkit-scrollbar {
  width: 6px;
}
.seccion-de-notificaciones::-webkit-scrollbar-track {
  background: transparent;
}
.seccion-de-notificaciones::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.notification-item.read {
  transition: background-color 10s;
}

.text-muted {
  text-align: center;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: #93c5fd;
  color: #1e62af !important;
  box-shadow: 0 0 2px #1e62af;
}

.notification-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #93c5fd;
}

.center-image {
  display: block;
  margin: 0.5rem auto 1rem;
  max-width: 80px;
  background-color: white;
  border-radius: 42rem;
  padding: 0.1rem;
}

.actualizarHorarios {
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.infoHoraNoti h5 {
  margin: 1rem 0;
  font-weight: normal;
  font-size: 1rem;
  text-align: justify;
}

/* Cambiar el color del borde y el fondo */
.select2-container--default .select2-selection--single {
  width: 100% !important; /* Se ajusta al 100% del contenedor */
  max-width: 400px; /* O un máximo específico si es necesario */
  height: 50px; /* Ajuste de altura */
  font-size: 16px; /* Tamaño del texto */
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
}

/* Cambiar el color de la opción seleccionada */
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #1f2421;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  text-align: center;
}

/* Cambiar el color y el tamaño de la flecha */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  border-color: #1f2421;
  color: #1f2421;
  background-color: #bfddfe;
}

/* Modificar la lista de opciones cuando se abre el select */
.select2-results__option {
  font-size: 1rem;
  padding: 10px;
  border-radius: 0.5rem;
}

.select2-results__option[aria-selected=true] {
  background-color: #1e62af !important;
  color: white;
}

/* Eliminar borde y contorno en el campo de búsqueda de Select2 */
.select2-search__field {
  border: 1px solid #ccc !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0.5rem;
}

/* Si quieres un borde más delgado cuando se enfoca el campo de búsqueda */
.select2-search__field:focus {
  border: 1px solid #93c5fd !important;
}

.select2-dropdown {
  border: 1px solid #bfddfe !important;
}

.select2-container--default .select2-selection--single {
  background-color: #ffffff !important;
  border: 1px solid #bfddfe !important;
  border-radius: 0.5rem !important;
  height: 50px;
}

.custom-select2 {
  width: 50%;
}
.custom-select2 .select2-container {
  width: 100% !important; /* Asegúrate de que el contenedor sea flexible */
  max-width: 400px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  background-image: url("data:image/svg+xml,%3Csvg fill='black' xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  top: 0px;
  right: 0px;
  width: 23px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 50px !important;
  border-radius: 4px;
}

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

/* Tarjeta del slider */
.card-item {
  opacity: 0;
  width: 300%;
  max-width: 300px;
  min-height: 350px;
  margin: auto;
  border-radius: 12px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  transition: opacity 0.3s ease;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.card-item.fade-in {
  animation: fadeInUp 0.5s ease forwards;
}

.user-image {
  width: 250px;
  height: 250px;
  margin-bottom: 5px;
  padding: 4px;
  object-fit: cover;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
}

.user-profession {
  font-size: 1.1rem;
  color: #333;
  margin: 10px 0 20px;
}

/* Swiper Custom */
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet {
  background: #93c5fd;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.sw-navPrev,
.sw-navNex {
  color: #1e62af;
  font-size: 17px !important;
  width: 30px !important;
  height: 30px !important;
  font-weight: bold;
}
.sw-navPrev::after,
.sw-navNex::after {
  font-size: 17px !important;
}

.sw-navNex {
  padding-right: 1.5rem;
}

.sw-navPrev {
  padding-left: 1.5rem;
}

.welcome-text {
  color: #1e62af;
}

.continuarBtn {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.continuarBtn.show {
  opacity: 1;
  transform: translateY(0);
}

.wel-habits {
  padding: 0;
}

.wel-img {
  width: 45%;
  height: 45%;
}

/*# sourceMappingURL=styles.css.map */
